cifp.dtd

<!ELEMENT cifp (alumne*, professor*)>

<!ELEMENT alumne (nom, llinatges, data_naixement?, correu?, telefon?, adreça?, data_matricula, curs)>
<!ELEMENT professor (nom, llinatges, data_naixement?, correu?, telefon?, adreça?, data_incorporacio, departament, assignatura*)>
<!ELEMENT assignatura (nom_assignatura, data_inici?, data_final?)>

<!ELEMENT nom (#PCDATA)>
<!ELEMENT llinatges (#PCDATA)>
<!ELEMENT data_naixement (#PCDATA)>
<!ELEMENT correu (#PCDATA)> 
<!ELEMENT telefon (#PCDATA)> 
<!ELEMENT adreça (#PCDATA)>
<!ELEMENT data_matricula (#PCDATA)> 
<!ELEMENT curs (#PCDATA)> 
<!ELEMENT data_incorporacio (#PCDATA)>
<!ELEMENT departament (#PCDATA)>
<!ELEMENT nom_assignatura (#PCDATA)>
<!ELEMENT data_inici  (#PCDATA)>
<!ELEMENT data_final (#PCDATA)>


<!ATTLIST alumne alumne_id ID #REQUIRED>
<!ATTLIST professor professor_id ID #REQUIRED>
<!ATTLIST departament tipus (INFORMATICA | ELECTRONICA | AUTOMOCIO) #REQUIRED>
<!ATTLIST assignatura assignatura_id ID #REQUIRED>
<!ATTLIST nom_assignatura cicle (DAW | DAM | ASIX | SMX | SEIA | ER | AUT) #REQUIRED>







